.orderbook {
    .orderbook__header,
    .sell-open-orders,
    .buy-open-orders {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        min-width: 20%;
    }
    .orderbook__content {
        border: 1px solid #37527B;
        padding: 1rem;
        height: calc(50vh - 4rem);
    }
    .orderbook__header {
        border: 1px solid #37527B;
        padding: 1rem;
        margin: 0.5rem auto;
    }
    .sell-open-orders {
        height: 2rem;
        .orderbook__content--tab {
            width: 0;
            &:first-child {
                color: #C33737;
            }
        }
    }
    .buy-open-orders {
        height: 2rem;
        .orderbook__content--tab {
            width: 0;
            &:first-child {
                color: #56B351;
            }
        }
    }
    .selling-orders {
        max-height: 20rem;
    }
}

.sell {
    color: #C33737;
}

.buy {
    color: #56B351;
}