<div class="orderbook">
    <div class="orderbook__header">
        <div class="orderbook__header--tab">PRICE</div>
        <div class="orderbook__header--tab">AMOUNT (BTC)</div>
        <div class="orderbook__header--tab">TOTAL (BTC)</div>
    </div>
    <div class="orderbook__content">
        <div class="sell-open-orders">
            <div class="orderbook__content--tab">0.00</div>
            <div class="orderbook__content--tab">0.00</div>
            <div class="orderbook__content--tab">0.00</div>
        </div>
        <div class="buy-open-orders">
            <div class="orderbook__content--tab">0.00</div>
            <div class="orderbook__content--tab">0.00</div>
            <div class="orderbook__content--tab">0.00</div>
        </div>
    </div>

</div>