%header_properties {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    min-width: 20%;
}

%content_default {
    border: 1px solid #37527B;
    padding: 1rem;
}

.orderbook {
    @at-root #{&}__header {
        @extend %header_properties;
    }
    .sell-open-orders,
    .buy-open-orders {
        @extend %header_properties;
    }
    @at-root #{&}__content {
        @extend %content_default;
    }
    @at-root #{&}__header {
        @extend %content_default;
        margin: 0.5rem auto;
        @at-root #{&}--tab {
            margin-left: 6rem;
        }
    }
    .sell-open-orders {
        height: 2rem;
        .orderbook__content--tab {
            width: 0;
            &:first-child {
                color: #C33737;
            }
        }
    }
    .selling-orders--header {
        border-bottom: 1px solid #C33737;
        margin-bottom: 1rem;
    }
    .buy-open-orders {
        height: 2rem;
        .orderbook__content--tab {
            width: 0;
            &:first-child {
                color: #56B351;
            }
        }
    }
    .buying-orders--header {
        border-bottom: 1px solid #56B351;
        margin-bottom: 1rem;
    }
    .comparing-orders {
        &:first-child {
            font-weight: 700;
            color: #09bd00;
        }
        color: #FFFFFF;
    }
}

.sell {
    color: #C33737;
}

.buy {
    color: #56B351;
}