.sub-details {
    font-size: 0.756rem;
    color: #7086A7;
    padding: 0px 5px;
}

.product-list__select {
    width: 300px;
}

.details {
    width: 80px;
}

.min {
    color: #C33737;
}

.max {
    color: #56B351;
}